/node_modules
/backend/node_modules
/web/node_modules
/web/.idea/
/web/.vscode/

/web/.DS_Store
/web/*.tgz
/web/template/src/__tests__/__snapshots__/
/web/lerna-debug.log
/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*
/web//.changelog
/web/.npm/
/web/yarn.lock